In [3]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                          title  year
0                  My Lady Boss  2013
1               Folly of Vanity  1924
2       The Gambler of the West  1915
3  Caleuche: El llamado del Mar  2012
4               Parachute Nurse  1942

In [6]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [7]:
len(titles)

230621

In [8]:
len(titles[titles.title.notnull()])

230621

### What are the earliest two films listed in the titles dataframe?

In [9]:
titles[titles.year.sort(head)]

NameError: name 'head' is not defined

In [10]:
titles[titles.year.sort()]

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

In [11]:
titles.year.sort()

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

In [12]:
titles.sort('year')

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                                                    title  year
73888                                          Miss Jerry  1894
161992                                 The Startled Lover  1898
134082     Reproduction of the Corbett and Jeffries Fight  1899
24528                                Family Troubles (II)  1900
146354                           Trouble in Hogan's Alley  1900
99772   Pierrot's Problem, or How to Make a Fat Wife O...  1900
205599                              Soldiers of the Cross  1900
147528                                        The Divorce  1903
25438                                             Valsons  1905
138940                                  La malia dell'oro  1905
42906                         The Story of the Kelly Gang  1906
64540                  The Joe Gans-Battling Nelson Fight  1906
74751              Impersonation of Nelson-McGovern Fight  1906
160552                         Highlights from The Mikado  1906
135577                                      Lika mot lika  1906
126399                                              Faust  1907
161540                                 Robbery Under Arms  1907
98552                                            Violante  1907
69695                                El ciego de la aldea  1907
29818                           El pastorcito de Torrente  1908
156733                                  Gans-Nelson Fight  1908
227814                     The Fairylogue and Radio-Plays  1908
35645                                         Os Guaranis  1908
141380                                             Amleto  1908
173190                                        Don Quijote  1908
153904                                  O Nono Mandamento  1909
164531                                      Andreas Hofer  1909
183717                   Um Cavalheiro Deveras Obsequioso  1909
84860                                 Uma Licao de Maxixe  1909
60762                                      Sonho de Valsa  1909
...                                                   ...   ...
206064                                           Truckers  2022
17697                                   Spider in the Web  2022
107953                                         Prime Time  2022
26283                                             Wingman  2022
33747                               The Cretaceous Period  2022
71490                                      Curious George  2022
147220                                  Ready N' Reloaded  2022
27234                           Oracle: The Last Judgment  2022
132702                                              Rosie  2022
113258                                             Berlin  2022
40100                                             Freedom  2022
143410                               Out of the Mountains  2022
79403                                   Silver from Water  2022
15321                                      Darkside: Moon  2022
144315                                  The Burning Skies  2022
223894                                           Avatar 4  2022
47740                                         Fetish Trap  2023
164081                                           Avatar 5  2023
49107                                             Agartha  2023
103863                                         The League  2023
69785                                           Inside Me  2023
33026                                           Xenomorph  2023
130159                                           Garriage  2023
186422                                        Gnome Alone  2023
136920                                          Interplay  2023
208416                                          St. Cairo  2023
145751                              The Supreme Gentleman  2023
66973                          The Snowman and the Falcon  2024
185654                                         Gods Heart  2025
13941                                   Settling of Score  2026

[230621 rows x 2 columns]

In [13]:

titles.sort('year').tail(2)

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                    title  year
185654         Gods Heart  2025
13941   Settling of Score  2026

In [14]:
titles.sort('year').head()

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                                                 title  year
73888                                       Miss Jerry  1894
161992                              The Startled Lover  1898
134082  Reproduction of the Corbett and Jeffries Fight  1899
24528                             Family Troubles (II)  1900
146354                        Trouble in Hogan's Alley  1900

### How many movies have the title "Hamlet"?

In [15]:
titles[titles.title='Hamlet']

SyntaxError: invalid syntax (<ipython-input-15-ef0b0901be21>, line 1)

In [16]:
titles[titles.title == 'Hamlet']

         title  year
13284   Hamlet  1911
20434   Hamlet  1987
32479   Hamlet  1913
34193   Hamlet  1948
37558   Hamlet  1964
40710   Hamlet  1973
43523   Hamlet  2011
51182   Hamlet  1990
68268   Hamlet  2015
69296   Hamlet  1954
80065   Hamlet  1921
124183  Hamlet  2009
131127  Hamlet  1969
148916  Hamlet  2014
149692  Hamlet  2000
156914  Hamlet  1910
194003  Hamlet  1976
204588  Hamlet  1996

In [17]:
len(titles[titles.title == 'Hamlet'])

18

### How many movies are titled "North by Northwest"?

In [18]:
len(titles[titles.title == 'North by Nothwest'])

0

### When was the first movie titled "Hamlet" made?

In [19]:
titles[titles.title='Hamlet].sort('year').head(1)

SyntaxError: invalid syntax (<ipython-input-19-64b8e3800403>, line 1)

In [20]:
titles[titles.title=='Hamlet].sort('year').head(1)

SyntaxError: invalid syntax (<ipython-input-20-01a2d570f58d>, line 1)

In [21]:
titles[titles.title=='Hamlet'].sort('year').head(1)

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         title  year
156914  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [22]:
titles.[title.title=='Treasure Island'].sort('year')

SyntaxError: invalid syntax (<ipython-input-22-70a10304dafd>, line 1)

In [23]:
titles.[titles.title=='Treasure Island'].sort('year')

SyntaxError: invalid syntax (<ipython-input-23-12a5a5be8efa>, line 1)

In [24]:
titles[titles.title=='Treasure Island'].sort('year')

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                  title  year
84688   Treasure Island  1918
111141  Treasure Island  1920
104375  Treasure Island  1934
131555  Treasure Island  1950
32879   Treasure Island  1972
61465   Treasure Island  1973
123207  Treasure Island  1985
72540   Treasure Island  1999

### How many movies were made in the year 1950?

In [25]:
len(titles[titles.year==1950]))

SyntaxError: invalid syntax (<ipython-input-25-80db5f2d4327>, line 1)

In [26]:
len(titles[titles.year==1950])

1093

### How many movies were made in the year 1960?

In [27]:
len(titles[titles.year==1960])

1496

### How many movies were made from 1950 through 1959?

In [28]:
len(titles[(titles.year>=1950]) & (titles.year<=1959])])

SyntaxError: invalid syntax (<ipython-input-28-56a64ae3e453>, line 1)

In [29]:
len(titles[(titles.year>=1950) & (titles.year<=1959)])

12656

### In what years has a movie titled "Batman" been released?

In [30]:
titles[titles.title='Batman'].year

SyntaxError: invalid syntax (<ipython-input-30-e11e2499c07f>, line 1)

In [31]:
titles[titles.title=='Batman'].year

23511     1943
190161    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [32]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
22,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
23,Honey 2,2011,Jesse 'Casper' Brown,actor,Freestyle Dancer,73.0
24,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
25,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
26,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
27,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
28,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
29,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
...,...,...,...,...,...,...
3088737,Saathiya,2002,Madhuri (VIII),actress,Lady at railway platform,40.0
3088738,Sonthakkaran,1989,Madhuri (X),actress,Lakshmi C. Dorai,2.0
3088739,Samsaram Athu Minsaram,1986,Madhuri (XI),actress,Vasantha,NaN
3088740,Boeing Boeing,1985,Madhuri (XV),actress,Padma Subramaniam,NaN
3088741,Jaan Pechaan,1991,Meera Madhuri,actress,Pinky,NaN
3088742,Jai Maa Karwa Chauth,1994,Meera Madhuri,actress,Gauri,NaN
3088743,Kala Coat,1993,Meera Madhuri,actress,Seema Khurana,NaN
3088744,Maan Maryada,1984,Meera Madhuri,actress,Reshmabai,NaN
3088745,Koothara,2014,Madhurima,actress,Shaista,NaN
3088746,Aandhiyan,1990,Madhushree,actress,Kiran,3.0
3088747,Family No.1,2011,Madhusmita,actress,Meghna,NaN
3088748,Nari Nuhen Tu Narayani,2007,Madhusmita,actress,Jauthi's wife,19.0
3088749,Suhaga Sindura,1996,Madhusmita,actress,Rita,NaN
3088750,Vidhyaarthi: The Power of Students,2006,Baby Richa Madhusudan,actress,Student,NaN
3088751,Uncle Nino,2003,Carley Marcelle Madi,actress,The Crush Girl,NaN
3088752,Candinho,1954,Labiby Madi,actress,Hermione,9.0
3088753,Sea Shadow,2011,Neven Madi,actress,Kaltham,2.0
3088754,Thawb al-Shams,2010,Neven Madi,actress,Selma,NaN
3088755,Bujang lapok,1957,Rahayu Madi,actress,"Ayu, Adik Zaiton (Zaiton's younger sister)",18.0
3088756,Off Book,2016,Macey Madias,actress,Angelica,3.0
3088757,108 Stitches,2014,Rebecca Madick,actress,Student,NaN
3088758,Shazam and the Lost Path,2013,Windy Madiedo,actress,Playsemall Fan,20.0
3088759,A Time for Dancing,2002,Amy Madigan,actress,Jackie,8.0
3088760,Admissions,2004,Amy Madigan,actress,Martha Brighton,2.0
3088761,Alamo Bay,1985,Amy Madigan,actress,Glory,1.0
3088762,Female Perversions,1996,Amy Madigan,actress,Maddie Stephens,2.0
3088763,Field of Dreams,1989,Amy Madigan,actress,Annie Kinsella,2.0
3088764,Frontera,2014,Amy Madigan,actress,Olivia,4.0
3088765,Future Weather,2012,Amy Madigan,actress,Greta,3.0
3088766,Gary's Walk,2009,Amy Madigan,actress,Gloria,NaN

In [33]:

cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [34]:

cast[cast.title='Inception'].roles

SyntaxError: invalid syntax (<ipython-input-34-5438554d953d>, line 2)

In [35]:
cast[cast.title=='Inception'].roles

AttributeError: 'DataFrame' object has no attribute 'roles'

In [36]:
cast[cast.title=='Inception']

,title,year,name,type,character,n
94333,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
143138,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
176819,Inception,2010,Tom Berenger,actor,Browning,8.0
190249,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
250191,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
314663,Inception,2010,Michael Caine,actor,Miles,11.0
321091,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
361119,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
417982,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
428199,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
498708,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
569504,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
659835,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
666157,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
682511,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
684215,Inception,2010,Russ Fega,actor,Cab Driver,23.0
711192,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
779284,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
783405,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
802478,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
803728,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
806524,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
829338,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
878274,Inception,2010,Lukas Haas,actor,Nash,12.0
907468,Inception,2010,Tom Hardy,actor,Eames,4.0
932903,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
971196,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1056651,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1069724,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1080743,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
...,...,...,...,...,...,...
1609028,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1640994,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1747077,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1760521,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1770685,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1794461,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1808640,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1852069,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1927805,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
1975441,Inception,2010,Felix Scott,actor,Businessman,46.0
2050419,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2156986,Inception,2010,Affan Tareen,actor,Denison,NaN
2168785,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2184854,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2318555,Inception,2010,Ken Watanabe,actor,Saito,5.0
2516169,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2658136,Inception,2010,Marion Cotillard,actress,Mal,9.0
2668039,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2686796,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2697084,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2739039,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2814544,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2814552,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2831371,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
2928772,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3016734,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN
3019159,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3025693,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3067377,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3088316,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0

In [37]:
len(cast[cast.title=='Inception'])

70

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [38]:
len(cast[(cast.title=='Inception') | (cast.n='NaN')])

SyntaxError: invalid syntax (<ipython-input-38-d1bae4ab5f78>, line 1)

In [39]:
len(cast[(cast.title=='Inception') | (cast.n='NaN')])len(cast[(cast.title=='Inception') | (cast.n=='NaN')])

C:\Users\Mathew\Anaconda3\lib\site-packages\pandas\core\ops.py:716: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [40]:
ln(cast[(cast.title=='Inception') | (cast.n.isnull())])e

1189220

In [41]:

len(cast[(cast.title=='Inception') & (cast.n.isnull())])

26

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [42]:
cast[cast.title=='North by Northwest' & !(cast.n.isnull())]]

SyntaxError: invalid syntax (<ipython-input-42-bb20643e7f26>, line 1)

In [43]:
cast[cast.title=='North by Northwest' & (cast.n.notnull())]

TypeError: cannot compare a dtyped [bool] array with a scalar of type [bool]

In [44]:
cast[cast.title=='North by Northwest' & (cast.n.isnull())]

TypeError: cannot compare a dtyped [bool] array with a scalar of type [bool]

In [45]:
cast[(cast.title=='Inception') & (cast.n.isnull())]

,title,year,name,type,character,n
94333,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
190249,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
361119,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
659835,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
666157,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
682511,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
806524,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
971196,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1056651,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1069724,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1080743,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1146809,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1203175,Inception,2010,Shunsaku Kud?,actor,Saito's Bodyguard Officer,NaN
1249439,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1264919,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1606290,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1770685,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1852069,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1927805,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
2050419,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2156986,Inception,2010,Affan Tareen,actor,Denison,NaN
2686796,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2739039,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2831371,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
2928772,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3016734,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN

In [46]:
cast[(cast.title=='North by Northwest') & (cast.n.isnull())]

,title,year,name,type,character,n
12151,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
27852,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
54093,North by Northwest,1959,Don Anderson,actor,Worker,NaN
54307,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
92195,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
97833,North by Northwest,1959,Tol Avery,actor,State Police Detective,NaN
109025,North by Northwest,1959,Sam Bagley,actor,Courtroom Spectator,NaN
114334,North by Northwest,1959,Frank Baker,actor,Man at Auction,NaN
137656,North by Northwest,1959,Baynes Barron,actor,Taxi Driver #2,NaN
151717,North by Northwest,1959,Brandon Beach,actor,Man at Auction,NaN
176030,North by Northwest,1959,John Beradino,actor,Sergeant Emile Klinger,NaN
222299,North by Northwest,1959,Stephen Bolster,actor,Man with Camera,NaN
344204,North by Northwest,1959,Steve Carruthers,actor,Man at Auction,NaN
350192,North by Northwest,1959,Taggart Casey,actor,Shaving Man,NaN
356803,North by Northwest,1959,Bill Catching,actor,Auction Attendant,NaN
424676,North by Northwest,1959,Bob (II) Coe,actor,Cropduster Pilot,NaN
467714,North by Northwest,1959,David A. Cox,actor,Police Officer on Horse,NaN
468709,North by Northwest,1959,Walter Coy,actor,U.S. Intelligence Agency Official,NaN
479498,North by Northwest,1959,Jimmy Cross,actor,Taxi Driver #1,NaN
502759,North by Northwest,1959,Jack Daly,actor,Train Steward,NaN
503758,North by Northwest,1959,John Damler,actor,Police Lieutenant,NaN
581619,North by Northwest,1959,Lawrence Dobkin,actor,U.S. Intelligence Agency Official,NaN
605839,North by Northwest,1959,Alphonso DuBois,actor,Man at United Nations Building,NaN
679471,North by Northwest,1959,Tommy Farrell,actor,Eddie - Elevator Starter,NaN
682655,North by Northwest,1959,Adolph Faylauer,actor,Bald Bidder,NaN
786648,North by Northwest,1959,Paul Genge,actor,Lieutenant Hagerman,NaN
808703,North by Northwest,1959,Ned Glass,actor,Ticket Seller,NaN
821927,North by Northwest,1959,James Gonzalez,actor,Man at Auction,NaN
849881,North by Northwest,1959,Tom Greenway,actor,Silent State Police Detective,NaN
884907,North by Northwest,1959,Robert Haines,actor,Man at United Nations Building,NaN
...,...,...,...,...,...,...
1955563,North by Northwest,1959,Jeffrey Sayre,actor,Hotel Lounge Patron,NaN
1955564,North by Northwest,1959,Jeffrey Sayre,actor,Man at Mt. Rushmore Cafeteria,NaN
1979808,North by Northwest,1959,Scott Seaton,actor,Man at Auction,NaN
1993822,North by Northwest,1959,Harry Seymour,actor,Victor - Captain of Waiters,NaN
2004408,North by Northwest,1959,Robert Shayne,actor,Larry Wade,NaN
2044560,North by Northwest,1959,Jeremy Slate,actor,Policeman at Grand Central Station,NaN
2070928,North by Northwest,1959,Olan Soule,actor,Assistant Auctioneer,NaN
2098768,North by Northwest,1959,Harvey Stephens,actor,Stockbroker,NaN
2101335,North by Northwest,1959,Bert Stevens,actor,Man at United Nations Building,NaN
2115162,North by Northwest,1959,Harry Strang,actor,Assistant Conductor,NaN
2141724,North by Northwest,1959,Joe Szorentini,actor,Man Opening Door for Thornhill,NaN
2195878,North by Northwest,1959,Paul Togawa,actor,Man at United Nations Building,NaN
2207044,North by Northwest,1959,Arthur Tovey,actor,Man at Auction,NaN
2251621,North by Northwest,1959,Dale Van Sickel,actor,Ranger,NaN
2325131,North by Northwest,1959,Ray Weaver,actor,Policeman at Grand Central Station,NaN
2353592,North by Northwest,1959,Frank Wilcox,actor,Herman Weitner,NaN
2362461,North by Northwest,1959,Lloyd (VI) Williams,actor,Minor Role,NaN
2363681,North by Northwest,1959,Robert Williams,actor,Patrolman Waggoner,NaN
2387386,North by Northwest,1959,Wilson Wood,actor,Photographer at United Nations,NaN
2412181,North by Northwest,1959,Carleton Young,actor,Fanning Nelson,NaN
2421836,North by Northwest,1959,Ernesto Zambrano,actor,Man at Auction,NaN
2465523,North by Northwest,1959,Anne (II) Anderson,actress,Woman,NaN
2670589,North by Northwest,1959,Lucille Curtis,actress,Woman,NaN
2671331,North by Northwest,1959,Patricia Cutts,actress,Hospital Patient,NaN
2766221,North by Northwest,1959,Jesslyn Fax,actress,Minor Role,NaN
2782130,North by Northwest,1959,Bess Flowers,actress,Hotel Lounge Patron,NaN
2786977,North by Northwest,1959,Josephine Forsberg,actress,Friendly Passenger,NaN
2793447,North by Northwest,1959,Sally Fraser,actress,Second United Nations Receptionist,NaN
2979448,North by Northwest,1959,Madge Kennedy,actress,Mrs. Finlay,NaN
3025468,North by Northwest,1959,Doreen Lang,actress,Maggie - Roger's Secretary,NaN

In [47]:

cast[(cast.title=='Inception') & !(cast.n.isnull())]

SyntaxError: invalid syntax (<ipython-input-47-517d9ea40a6a>, line 2)

In [48]:
cast[(cast.title=='Inception') & ~(cast.n.isnull())]

,title,year,name,type,character,n
143138,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
176819,Inception,2010,Tom Berenger,actor,Browning,8.0
250191,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
314663,Inception,2010,Michael Caine,actor,Miles,11.0
321091,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
417982,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
428199,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
498708,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
569504,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
684215,Inception,2010,Russ Fega,actor,Cab Driver,23.0
711192,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
779284,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
783405,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
802478,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
803728,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
829338,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
878274,Inception,2010,Lukas Haas,actor,Nash,12.0
907468,Inception,2010,Tom Hardy,actor,Eames,4.0
932903,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1129157,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1262529,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1403138,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1558174,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1560914,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1609028,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1640994,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1747077,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1760521,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1794461,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1808640,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1975441,Inception,2010,Felix Scott,actor,Businessman,46.0
2168785,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2184854,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2318555,Inception,2010,Ken Watanabe,actor,Saito,5.0
2516169,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2658136,Inception,2010,Marion Cotillard,actress,Mal,9.0
2668039,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2697084,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2814544,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2814552,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
3019159,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3025693,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3067377,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3088316,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0

In [49]:
cast[(cast.title=='Inception') & ~(cast.n.isnull())].sort('n')

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
569504,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
829338,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
907468,Inception,2010,Tom Hardy,actor,Eames,4.0
2318555,Inception,2010,Ken Watanabe,actor,Saito,5.0
1808640,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1558174,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
176819,Inception,2010,Tom Berenger,actor,Browning,8.0
2658136,Inception,2010,Marion Cotillard,actress,Mal,9.0
1760521,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
314663,Inception,2010,Michael Caine,actor,Miles,11.0
878274,Inception,2010,Lukas Haas,actor,Nash,12.0
1262529,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
2814544,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
1609028,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
2814552,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
783405,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
1403138,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1640994,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
321091,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
932903,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
684215,Inception,2010,Russ Fega,actor,Cab Driver,23.0
1129157,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
417982,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
2697084,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
3019159,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
250191,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
498708,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
2668039,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
711192,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
3025693,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
428199,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
1560914,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
2184854,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2516169,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
1794461,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
802478,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
3088316,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3067377,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
143138,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
779284,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
1975441,Inception,2010,Felix Scott,actor,Businessman,46.0
1747077,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
2168785,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
803728,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0

In [50]:
cast[(cast.title=='North by Northwest') & ~(cast.n.isnull())].sort('n')

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [51]:
cast[(cast.title=='Sleuth') & ~(cast.n.isnull()) & cast.year == 1972].sort('n')

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

In [52]:
vcast[(cast.title=='Sleuth') & ~(cast.n.isnull()) & cast.year == 1972].sort('n')cast[(cast.title=='Sleuth') & cast.year == 1972].sort('n')

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

In [53]:
cast[(cast.title=='Sleuth')]

,title,year,name,type,character,n
250297,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
314692,Sleuth,2007,Michael Caine,actor,Andrew,1.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
360366,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
1246855,Sleuth,2007,Jude Law,actor,Milo,2.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
1741124,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
2619277,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0

In [54]:

cast[(cast.title=='Sleuth') &  (cast.year == 1972)]

,title,year,name,type,character,n
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0

In [55]:

cast[(cast.title=='Sleuth') &  (cast.year == 1972)].sort('n')

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [56]:
cast[(cast.title=='Sleuth') &  (cast.year == 2007)].sort('n')

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [57]:
cast[(cast.title=='Hamlet') &  (cast.year == 1921)]

          title  year                    name     type         character    n
7438     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
442224   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
535307   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1095274  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2106367  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2289163  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2562876  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2935728  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [58]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [59]:
cast.tail()

                      title  year         name     type        character    n
3088762  Female Perversions  1996  Amy Madigan  actress  Maddie Stephens  2.0
3088763     Field of Dreams  1989  Amy Madigan  actress   Annie Kinsella  2.0
3088764            Frontera  2014  Amy Madigan  actress           Olivia  4.0
3088765      Future Weather  2012  Amy Madigan  actress            Greta  3.0
3088766         Gary's Walk  2009  Amy Madigan  actress           Gloria  NaN

In [60]:

cast[(cast.name == 'Cary Grant') & (cast.year == 1940) & (cast.n == 2) ]

                   title  year        name   type character    n
840371  My Favorite Wife  1940  Cary Grant  actor      Nick  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?